body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;   
}

.first-part{
    float: left;
    padding: 10px;
    margin: 10px;
}
.first-part:hover {
    background-color:rgb(175, 174, 174) ;
    border: solid 1px rgb(175, 174, 174) ;
    cursor: pointer;
}
.first-part p{
    font-size: 15px;
    letter-spacing: 4px;
}
.second-part {
    float: right;
    margin-right: 20px;
}

.second-part ul {
    display: flex;
    margin:10px;
}
.second-part li{
    padding: 10px 15px;
    list-style: none;
    font-size: 15px;
    letter-spacing: 4px;
}
li:hover{
    background-color: rgb(175, 174, 174);
    border: solid 1px rgb(175, 174, 174);
    cursor: pointer;
}


.parts{
    position: relative;
    
}
.part1 img {
    width:100%;
    vertical-align: middle;
    height: auto;
    margin-top: 60px;
    
}

.part2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;  
    position: absolute;
} 
.part2 p{
    margin-top: -285px;
    margin-left: 380px;
}
.part2 p:nth-child(2) {
    font-size: 35px;
    color:white;
    letter-spacing: 4px;
    margin-left: 6px;
    padding: 10px;
    
    
}
.part2 p:nth-child(1){
    background-color: black;
    opacity: 0.8;
    font-size: 35px;
    color:white;
    letter-spacing: 4px;
    padding: 10px;
    margin-bottom: 320px;
   
}
.parts1 {
    
    position: absolute;
    margin: 30px;   
}

 .part3{
    margin-top: 40px;
    width: 950px;
    
   
}
.part3 h1 {
    font-size: 20px;
    padding-bottom: 15px;

}

.part3 hr{
    margin-bottom: 33px;
    color: grey;
    opacity: 0.5;
    width: 950px;
}

.img1 {
    position: absolute;
    display: flex;
    
}

.img1 img{
    width:227px;
    height:150px;
    margin-right: 15px;
}

.img1 p{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    position: relative;
    top: -153px;
    
}
.part4 {
    margin-top: 340px;
    width: 950px;
    position: relative;
    margin-left: 30px; 
}

.img2 {
    position: absolute;
    display: flex;
    
    
}

.img2 img{
    width:227px;
    height:150px;
    margin-right: 15px;
}

.img2 p{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    position: relative;
    top: -153px;
    
}
.about {
    margin-top: 550px;
    margin-left: 30px;
    width: 950px;
}
.about h1 {
    font-size: 20px;
    padding-bottom: 25px;

}
.about hr{
    margin-bottom: 20px;
    color: grey;
    opacity: 0.5;
    width: 950px;
}
.about p{
    text-align: justify;
    margin-bottom: 40px;
}
.names {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}
.name1{
    margin-right: 15px;
}

.name1 img{
    width: 225px;
    height:150px;
    margin-bottom: 10px;
}
.name1 h1 {
    font-size:22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 20px;
}
.name1 h4{
    padding-bottom: 20px;
    color:grey;
    opacity: 0.6;
    font-size:15px;
}
.name1 p{
    width:225px;
    text-align: justify;
    margin-bottom: 10px;
    font-size:15px;
    
}
.name1 button{
    width:225px;
    text-align: center;
    height: 40px;
    font-size:15px;
    background-color: #f1f1f1;
    border:solid 1px #f1f1f1;
    margin-bottom: 50px;
}
.name1 button:hover{
    background-color:grey;
    cursor: pointer;
    border: solid 1px grey ;
}
.contact {
    margin-top:20px;
    margin-left: 30px;
    width: 950px;
}
.contact h1 {
    font-size:22px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.contact hr{
    margin-bottom: 15px;
    color: grey;
    opacity: 0.5;
    width: 950px;
}
.contact p {
    margin-bottom:15px
}
.contact input{
    height: 35px;
    width:950px;
    margin: 10px 0px;
}
.contact input::placeholder{
    padding-left: 10px;
    color: grey;
    font-size:15px;
}
.contact button{
    background-color: black;
    color:white;
    height: 40px;
    padding: 0px 25px;
    border: solid 1px black;
    margin-bottom: 60px;
    margin-top:20px;
}
.contact button:hover{
    background-color: #e0dada;
    border: solid 1px #e0dada;
    color:black;
    cursor: pointer;
}
.contact img {
    width: 950px;
    margin-bottom: 10px;
}
footer {
    background-color: black;
    height:100px;
    width: 100%;
}
footer p{
    padding-top: 50px;
    text-align:center;
    color: white;
}
footer a{
    color:white;
}

